In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
df = pd.read_csv("q1.csv")

In [ ]:
df.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [ ]:
df.shape #(num_records, num_variables)

(27820, 12)

In [ ]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
for col in df.columns:
  print(col, ": ", len(df[col].unique()))

country :  101
year :  32
sex :  2
age :  6
suicides_no :  2084
population :  25564
suicides/100k pop :  5298
country-year :  2321
HDI for year :  306
 gdp_for_year ($)  :  2321
gdp_per_capita ($) :  2233
generation :  6

In [ ]:
# print type of variable

In [ ]:
# printing num_missing_entries
num_no_missing=0
for col in df.columns:
  print(col, ": ", df[col].isnull().sum())
  if np.sum(df[col].isnull())==0:
    num_no_missing+=1

country :  0
year :  0
sex :  0
age :  0
suicides_no :  0
population :  0
suicides/100k pop :  0
country-year :  0
HDI for year :  19456
 gdp_for_year ($)  :  0
gdp_per_capita ($) :  0
generation :  0

In [ ]:
# num_cols with no missing data
num_no_missing

11

In [ ]:
df.drop(["country-year"], axis=1, inplace=True) # dropping redundant columnm

In [ ]:
df.shape

(27820, 11)

In [ ]:
# manually categorizing vars
discrete_vars=["country", "sex", "age", "generation"]

In [ ]:
# subplots

In [ ]:
df["dummy"]=1

In [ ]:
df.groupby(by="country", as_index=False).sum()[["country", "dummy"]]